<form method="get">
    <label>naam</label><br>
    <input type="text" name="naam" /><br>
    <br>
    <label>cijfer</label><br>
    <input type="number" name="cijfer" /><br>
    <br>
    <button type="submit">Opzoeken</button>
</form>