.footer {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    background-color: #2a83fd;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

a {
    color: white;
}
