@model ZoekFilterPagineer.Models.StudentCursus

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentCursus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Studentnaam</label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CursusId" class="control-label">Cursusnaam</label>
                <select asp-for="CursusId" class ="form-control" asp-items="ViewBag.CursusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

